body{
    background: linear-gradient(to right , #Ecf , white );
    }
nav{
    text-align: center;
    color: white;
    text-decoration-style: solid;
    text-shadow: 1px 1px 2px black;
    text-indent: 100px;
    font-size: large;
}
section{
    background-image: url(pics/background.png);
    width: 100%;
}
article{
    text-align: center;
    color: white;
    font-size: x-large;
    text-shadow: 2px 2px 3px black;
}
main {
    text-align: center;    
}   
footer{
    text-align: center;
}
